<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FormsFile" value=".\Forms.xml"/>
    <add key="PagesFile" value=".\Pages.xml" />
    <add key="IgnorePages" value=".\IgnorePages.xml"/>
    <add key="MovePages" value=".\MovePages.xml"/>
    <add key="TransformPages" value=".\TransformPages.xml"/>
    <add key="DeletePageElements" value=".\DeleteElements.xml"/>
    <add key="MovePageElements" value=".\MoveElements.xml"/>
    <add key="CodeRules" value=".\coderules.txt"/>
    <add key="TranslationFile" value=".\PageTranslations.txt"/>
    <add key="SchemasPathLocation" value =".\"/>
    <add key="EncodingPage" value ="850"/> <!--For more information regarding encoding page, please, refer to http://msdn.microsoft.com/en-us/library/system.text.encoding.aspx page-->
  </appSettings>
  <system.diagnostics>
    <switches>
      <!-- This switch controls general messages. In order to 
         receive general trace messages change the value to the 
         appropriate level. "1" gives error messages, "2" gives errors 
         and warnings, "3" gives more detailed error information, and 
         "4" gives verbose trace information 
         "0" - off -->
      <add name="TraceLevelSwitch" value="1" />

      <add name="Error" value="1" />
      <add name="CodeCannotBeTransformed" value="1" />
      <add name="Warning" value="2" />
      <add name="GeneralInformation" value="4" />
      <add name="IgnoreForms" value="3" />
      <add name="IgnoreWarning" value="2" />
      <add name="InputInformation" value="1" />
      <add name="RemoveControls" value="3" />
      <add name="ChangeCodeManually" value="2" />
      <add name="ValidateManually" value="3" />
      <add name="CheckInputFile" value="1" />
      <add name="PossibleCompilationProblem" value="2" />
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <!--
        <add name="TransformLog_xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData=".\Transformation.xml"/>
        -->
        <add name="TransformLog_txt" type="System.Diagnostics.TextWriterTraceListener" initializeData=".\Transformation.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>

